<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div class="container">
		<div class="py-16">
			<h1 class="text-4xl font-bold text-center">Collection</h1>
		</div>
		<div class="p-8 grid grid-cols-4 gap-6">
			{%for category in main_categories%}
			<div class="bg-gray-100">
				<img class="w-full h-[10rem] object-cover" src="{{category.image}}">
				<p class="mt-2 ml-4 pb-4 text-lg">{{category.category_name}}</p>
			</div>
			{%endfor%}
		</div>
	</div>

	<!-- Featured items -->
	<div class="container">
		<div class="py-16">
			<h1 class="text-4xl font-bold text-center">You May Also Like...</h1>
		</div>
		<div class="p-8 grid grid-cols-4 gap-6">
			{%for items in featured_items%}
			<div class="bg-gray-100 flex flex-col space-y-4">
				<img class="w-full h-[10rem] object-cover" src="{{items.gallery[0].image}}">
				<p class="mt-2 ml-4 pb-4 text-lg">{{items.product_name}}</p>
				<p class="mt-2 ml-4 pb-4 text-lg">${{items.price}}CAD</p>
				<button class="py-4 px-6 mt-auto bg-cyan-900 text-white font-bold">Add to Cart</button>
			</div>
			{%endfor%}
		</div>
	</div>
</body>

</html>